body{
    background-image: url(slika1.jpg);
}

#stranica{
    position: absolute;
    margin: 150px;
    margin-top: 0px;
    height: max-content;
    background-color: #343030;
    border: 2px solid black;
}
#padajuciMeni {
    position: absolute;
}
#greskaOpcina {
    visibility: hidden;
}
#greskaMjesto {
    visibility: hidden;
}
#zaglavlje{
    height: 150px;
    width: 1030px;
    background-image: url(slika2.jpg);
}

#zaglavlje img{
    height: 199px;
    width: 300px;
    float: left;
    border-right: 2px solid black;
}

#zaglavlje h1{
    text-align: center;
    color: #000;
    font-size: 60px;
    margin: auto;
}
#zaglavlje p{
    margin: auto;
    text-align: right;
    color: #000;
    font-size: 30px;
}

#meni {
    height: 47px;
    width: 1026px;
    border: 2px solid black;
    border-right: 0px;
}


#meni ul{
    text-align: left;
    width: 900px;
    height: 28px;
}

#strelica {
    width: 15px;
    height: 15px;
    padding: 0px;
    margin-top: -10px;
}
#meni li{
    color: white;
    background-color: #f57d24;
    display: inline;
    padding: 14px;
    font-size: 16px;
    margin: 2px;
}

#sadrzaj{
    border-top: 2px solid black;
    background-color:#808080;
    width: 1030px;
    height: 696px;

}

#lijevo{
    float: left;
    background-image: url(slika2.jpg);
    height: 694px;
    width: 214px;
}

#lijevo h3{
    text-align: center;
    color: blue;
}

#lijevo img{
    margin-left: 35px;
    width: 120px;
    height: 60px;
 
    margin-top: 10px;
}


#sredina{

    height: 694px;
    width:  607px;
    background-color: #808080;
    float: left;
}
#sredina h3{
    color:  blue;
    text-align: center;
}
#kalup{
  
    height: 200px;
    width:  609px;
    background-image: url(slika1.jpg);
    float: left;
}
#galerija img{   
    width:  609px;
    height: 400px;
}

.ponuda{
    margin-left: 20px;
    margin-top: 30px;
    height: 110px;
    width: 270px;
    float: left;
    background-color: #c7caca;
}
.ponuda img{
    float: left;
    height: 110px;
    width: 100px;
    border-top: 0px;
    border-left: 0px;
}
.ponuda h4{
    margin: auto;
    text-align: left;
    color: red;
}
#desno{
    
    height: 694px;
    width: 207px;
    background-image:url(slika2.jpg);
    margin: auto;
    float: left;
}
#desno h3{
    text-align: center;
    color: blue;
}
#desno p{
    color: black;
    text-align: center;
}
#cijene table {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    margin-left: 30px;
    margin-top: 30px;
    background-color: #c7caca;
}
#cijene td,th,tr{
    width: 180px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}
.artikal{
    text-align: left;
}

.slika{
    background-color: #c7caca;
    margin-left: 33px;
    margin-top: 30px;
    width: 250px;
    height: 250px;
 
    float: left;
}
.slika p{
    color: blue;
    margin: auto;
    text-align: center;
}
.slika img{
    width: 250px;
    height: 232px;
}
#por{
    float: left;
}
  
.slikaGreske {
    width: 10px;
    height: 10px;
    margin-left: 0px;
    text-align: left;
    visibility: hidden; 
}
#greskaImena {
    font-size: small;
    text-align: left;
    visibility: hidden;
}
#greskaMaila {
    font-size: small;
    text-align: left;
    visibility: hidden;
}
#greskaJMBG {
    font-size: small;
    text-align: left;
    visibility: hidden;
}
.poruka{
    float: left;
    height: 200px;
    width: 200px;
}
#posalji{
    text-align: right;
}
#kontaktforma{
    border: 2px solid black;
    width: 500px;
    margin-top: 30px;
    margin-left: 56px;
    background-image: url(slika2.jpg);
}

a:link    {color: #000; background-color:transparent; text-decoration:none}
a:visited {color: #fdfdfc; background-color:transparent; text-decoration:none}
a:hover   {color: #000; background-color:transparent; text-decoration:underline}
a:active  {color: #fdfdfc; background-color:transparent; text-decoration:underline}